<div class="my-element">
    <div class="container d-flex justify-content-center p-3">
        <!-- Centrado vertical y separación con la navbar -->
        <div class="col-md-5"> <!-- El card ocupará solo 6 columnas en pantallas medianas y más grandes -->
            <div class="card p-3 w-100">
                <h5 class="text-center">Iniciar Sesión</h5>
                <div class="row g-3">



                    <div class="col-sm-9 d-flex align-items-center gap-2">
                        <label for="userName" class="col-auto">Usuario:</label>
                        <input type="text" id="userName" [(ngModel)]="userName"
                            class="form-control text-end flex-grow-1">
                    </div>
                    <div class="col-sm-9 d-flex align-items-center gap-5">
                        <label for="password" class="col-auto">Contraseña:</label>
                        <input type="password" id="password" [(ngModel)]="password"
                            class="form-control text-end flex-grow-1">
                    </div>

                    <div class="col-sm-12 d-flex justify-content-center mt-3">
                        <button (click)="login()" class="btn btn-warning">Login</button>
                    </div>

                    <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
                        {{ errorMessage }}
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>