.my-element {
    background-color: var(--primary-color) !important;
    width: 100vw; // Mantener el ancho completo de la ventana
    min-height: 100vh; // Corregir la altura para que sea el 100% de la pantalla
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.entradas-salidas-container {
    border: 1px solid #ccc; // borde fino
    border-radius: 8px; // esquinas redondeadas
    background-color: #f9f9f9; // opcional: un fondo suave }

}

.balance-card {
    width: 70%;
    height: 82vh;
    max-width: 1000px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px; // Asegura que todas las tarjetas tengan la misma separación del navbar
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 10px;
    padding: 15px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #999 !important;
    /*Color mas oscuro*/
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

.table {
    font-size: 0.8rem;
    width: 100%;
    table-layout: fixed;
    /* Mantiene el ancho de las columnas según lo definido */
    white-space: nowrap;
    /* Evita que el texto se divida en múltiples líneas */
}

.table th,
.table td {
    padding: 4px;
    white-space: nowrap;
}

th,
td {
    text-align: center;
    padding: 8px;
}

/* Codigo */
th:nth-child(1),
td:nth-child(1) {
    width: 80px;
}

/* Producto */
th:nth-child(2),
td:nth-child(2) {
    width: 80px;
}

/* Unidad */
th:nth-child(3),
td:nth-child(3) {
    width: 50px;
}

/* Stock */
th:nth-child(4),
td:nth-child(4) {
    width: 50px;
}

/* Vencimiento */
th:nth-child(5),
td:nth-child(5) {
    width: 80px;
}

/* Adquisición */
th:nth-child(6),
td:nth-child(6) {
    width: 80px;
}

/* Packaging */
th:nth-child(7),
td:nth-child(7) {
    width: 80px;
}

/* Envio */
th:nth-child(8),
td:nth-child(8) {
    width: 80px;
}

/* Costo Total */
th:nth-child(9),
td:nth-child(9) {
    width: 80px;
}

/* Margen Marcación */
th:nth-child(10),
td:nth-child(10) {
    width: 90px;
}

/* Precio Venta */
th:nth-child(11),
td:nth-child(11) {
    width: 70px;
}

/* Contribucion Marginal */
th:nth-child(12),
td:nth-child(12) {
    width: 95px;
}

/* Margen Contribucion */
th:nth-child(13),
td:nth-child(13) {
    width: 80px;
}

/* Comisión */
th:nth-child(14),
td:nth-child(14) {
    width: 80px;
}

/* Precio Venta con Comisión */
th:nth-child(15),
td:nth-child(15) {
    width: 95px;
}

/* Contribución Marginal con Comisión */
th:nth-child(16),
td:nth-child(16) {
    width: 95px;
}

/* Margen Contribución con Comisión */
th:nth-child(17),
td:nth-child(17) {
    width: 95px;
}