<div class="my-element">

    <div class="container-fluid">
        <div class="row">

            <!-- Columna de la tabla (75%) -->
            <div class="col-md-8 d-flex align-items-start">

                <div class="card flex-grow-1 p-3">
                    <h3 class="text-center">Administracion de usuarios</h3>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col" class="text-center">Usuario</th>
                                    <th scope="col" class="text-center">Tipo de Rol</th>
                                    <th scope="col" class="text-center">Eliminar Usuario</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let user of users">
                                    <th scope="row" class="text-center">{{ user.userName}}</th>
                                    <td class="text-center">{{ user.roleType }}</td>
                                    <td class="text-center">
                                        <button class="btn btn-warning btn-sm" (click)="deleteUser(user.userName)">
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Columna del formulario (25%) -->
            <div class="col-md-4 d-flex flex-column align-items-center">

                <!-- Card Buscar Producto-->
                <div class="card p-3 w-100 d-flex flex-column justify-content-center align-items-center mb-3">
                    <h5 class="text-center">Crear Usuario</h5>
                    <div class="row g-3">

                        <div class="col-sm-12">
                            <input type="text" class="form-control text-center" placeholder="Usuario"
                                aria-label="Usuario" [(ngModel)]="userName">
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control text-center" placeholder="Password"
                                aria-label="Password" [(ngModel)]="password">
                        </div>
                        <select [(ngModel)]="roleType" class="form-select text-center">
                            <option value="" disabled selected hidden>Seleccione un Rol</option>
                            <option value="Admin">Admin</option>
                            <option value="Usuario">Usuario</option>
                        </select>

                        <div class="col-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-warning" (click)="createUser()">Crear</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>